<html>
  <head>
    <title>Bullying</title>
    <link rel="stylesheet" href="css/bullying.css">
  </head>
  
  <body>


<div id="title" class="slide header">
  <h1>Bullying</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Bullying isn't cool!</h1>
    <p>Bullying is defined as the use of superior strength or influence to intimidate someone. It can damage people's self esteem and confidence in a very harsh way. Although bullying is acknowledged it can be hard to find the courage to report it. We should begin to take a step forward to become upstanders instead of bystanders.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Different Types</h1>
    <ol>
      <li>Cyber Bullying - 
        This takes place over the internet in social media apps, direct message, email, and text. It can involve sharing harsh and mean words directly to someone, or leaving someone out. Here are a few ways to help prevent this form of bullying:
        <ul>
          <li> Report posts or comments that can be identified as bullying
          <li> Don't continue to leave people out of messages
          <li> Kindly confront the bully on the issue
        </ul>
        <br>
        
        <li>Verbal Bullying - 
         This tends to include namecalling or hurtful jokes that others join in on. Depending on what's being said, it can start off harmless and then begin to escalate into something that really hurts the target. Here are a few ways you can try to prevent this form of bullying:
          <ul>
            <li>Know the difference between a joke and being mean. Alot of the time people will laugh at something being said without realizing that the joke is hurting someone. Make sure it is harmless humor before joining in.
             <li>Confront the person being bullied. If you can tell that a joke is mean and the person is getting hurt, let them know that whatever mean things are being said aren't true and try to help rebuild their self esteem. 
               <li>Confront the bully. Sometimes the bully even isn't fully aware of how hurtful they are being. Let them know, and kindly tell them to stop.
          </ul> <br>
  </div>
  <img src="http://hannahsmith.pbworks.com/f/1303914798/Im%20still%20human.jpg">
  <img src="https://res.cloudinary.com/teepublic/image/private/s--hP2sA5ZV--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1515215110/production/designs/2257929_1.jpg"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
<h1>Information continued!</h1>
    <li>Social Bullying - 
            This includes mean looks, spreading false rumours, or being rude behind someone's back. The main purpose of this form of bullying is to damage someone's image. Here are a few ways to help stop it:
            <ul>
              <li>Don't join in. If you notice people are being mean to someone, don't add to the mean looks and gossip. Try to shut down any rude things that are being said.
                <li> As always, confront the bully, or bullies. With social bullying there tends to be more than one person picking on someone. Kindly tell them to stop and let them know that what they're saying isn't right.
            
    </ol>
   
  </div>
</div>

<div id="slide4" class="slide">
  <div class="title">
   <h1> Recources to Help </h1>
    <a href="https://www.kindcampaign.com/">kingcampaign</a>     allows users to share personal experiences with bullying and apologize to people they may have been rude to. Their overall mission is to share and recieve kindness. <br>
    
    <a href="http://loveislouder.com/">loveislouder</a> creates a space online for users to express themselves through videos, photos, art, or even music. You can also connect with others and help spread their message that love is louder than any other voice saying otherwise. <br>
    
        <a href="https://stompoutbullying.org/">stompoutbullying</a>   is a website that keeps you updated on upcoming events with a mission to spread awareness about bullying
        
   
  </div>
</div>
</body>
</html>