<!DOCTYPE html>
<html>
  <head>
    <title>Endangered Species</title>
    <link rel="stylesheet" href="css/environmental.css">
  </head>
  
  <body>
     <div id="title" class="slide header">
  <h1>Environment</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Speak for those who don't have voices</h1>
    <p>Our society is only running based on the fact that our planet is a credit card without a spending limit. We need to fight for the well being of our planet, and the well being of our future generations. Forests are being cut down at a rate of 40 football feilds per minute, and even though there is awareness to this issue, we need to do more. Our planet is home to thousands of wonderful animals that deserve to live here as much as us, and we can't let corporate greed take that away from us. If we stand for those who don't have voies, toghether we can make our step in the future into something wonderfull with life instead of a killing void.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>The Environment Today</h1>
    <p>The enviorment today has gone through a drastic change from the past years. Everyday more and more species go extint, and data claims that around 156 species go extinct everyday. Much of these problems we face today can be solved, by following easy steps and swithcing to renewable energy sources. Global warming is already causig fresh water levels to drop drastically and cause the acid levels in the oceans to rise, and create dead zones, where populations of fish float on the surface dead. The agricultural restrictions have dropped and allows farmers to use deadly pesticides that kill many natural bugs, and was one of the largest reason for <a href="https://www.epa.gov/pollinator-protection/colony-collapse-disorder ">CCD</a>. Our forests are buring, and causes for more Co2 to be released into the atmosphere addng to the greenhouse effect. Many natural habitats are being destroyed, and the subsequent resuts can lead to the death of more endangered species. Greenhouse gasses are being released faster than ever, and many politicians aren't doing the nessecary steps to prevent this. We need to make sure, that we advocate for those who can't speak for themselves. We have to start rethinking the way we live our lives to make sure that we keep the earth from further detrioating. We believe that we can fight this cnequential threat, and stand toghether and stand up, to those who are ignorant towards our planet. Though, the only way to achieve this is if we stand toghether. Though, action is being done, we need to make sure that we keep up the work and strive for a better tommorow.</p>
  </div>
  <img src="https://e3b48e3ea3e6e5e17edd-a7940459f0237e88ff48055199f69d9a.ssl.cf3.rackcdn.com/e4b15f92-3b26-467f-9948-2b425026ed2c/image/wide/banner-newysdgfuyg.jpg">
  <img src="https://heleenvandeven.files.wordpress.com/2011/11/kruger-2-sad-elephant.jpg"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Upcoming Protests (Correlates with WWF)</h1>
    <p>Event:  Seattle Tough Mudder & Half Mudder<br>
        Date :September 22 & 23, 2018<br>
       <a href= "https://support.worldwildlife.org/site/SPageServer/;jsessionid=00000000.app257b?NONCE_TOKEN=5C41DCBBC1EF6258B545C54926A6D168&pagename=panda_nation_tough_mudder_seattle"> More info </a>
      <br>
      
       <br>Event: NorCal Tough Mudder & Half Mudder<br>
            Date: October 6 & 7, 2018<br>
       <a href= "https://support.worldwildlife.org/site/SPageServer/;jsessionid=00000000.app257b?NONCE_TOKEN=5C41DCBBC1EF6258B545C54926A6D168&pagename=panda_nation_tough_mudder_norcal"> More info </a>
      <br>
       <br>Event: San Jose Rock 'n' Roll Half Marathon, 10K & 5K <br>
        Date: October 6 & 7, 2018<br>
       <a href= "https://support.worldwildlife.org/site/SPageServer/?pagename=panda_nation_rnr_san_jose"> More info </a>
      
      <br>
       <br>Event:Las Vegas Rock 'n' Roll Marathon, Half Marathon, 10K & 5K <br>
        Date : November 10 & 11, 2018<br>
       <a href= "https://support.worldwildlife.org/site/SPageServer/?pagename=panda_nation_rnr_las_vegas"> More info </a>
      
      <br>
       <br>Event: Pittsburgh Tough Mudder & Half Mudder <br>
        Date: September 8 & 9, 2018<br>
       <a href= "September 8 & 9, 2018"> More info </a>
        
      <br>
       <br>Event:Central Florida Tough Mudder & Half Mudder <br>
        Date : October 13 & 14, 2018<br>
       <a href= "https://support.worldwildlife.org/site/SPageServer/;jsessionid=00000000.app257b?NONCE_TOKEN=5C41DCBBC1EF6258B545C54926A6D168&pagename=panda_nation_tough_mudder_central_florida"> More info </a>
      <br>
      <br>
      Find out about more WWF events <a href="https://www.google.com/maps/d/viewer?mid=1_HF558es3MJfNwIXqfFNSaW_o_I&ll=34.233851502023654%2C-76.19902588281252&z=5">here! </a></p>
  </div>
</div>

<div id="slide4" class="slide">
  <div class="title">
    <h1>Check out these website for more information on how to help!!!</h1>
    <p><a href="https://www.worldwildlife.org/"> WWF </a> <br>
     <a href="http://www.50waystohelp.com/"> 50 ways to help!</a> <br>
     <a href="https://www.sierraclub.org/"> Sierra Club </a> <br>
    <a href="https://www.greenpeace.org/usa/"> Green Peace USA </a>  <br>
     <a href="https://www.nwf.org/"> National Wildlife Federation </a> <br></p>
  </div>
  <img src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111-1500x1000.jpg">
  <img src="https://www.koreaexpose.com/wp-content/uploads/2018/02/Amur_tiger_960.jpg"> 
</div>

<div id="slide5" class="slide">
  <div class="title">
    <h1>Check out these videos!</h1>
    <p><a href="https://www.youtube.com/watch?v=kXnkIjr5p8g"> Dream </a> <br>
         <a href="https://www.youtube.com/watch?v=eRLJscAlk1M&t=283s"> Dear Future Generations </a> <br>
     <a href="https://www.youtube.com/watch?v=jK2RDcBd6mI&t=6s"> Pizza the Polar Bear</a> <br></p>
  </div>
</div>


    
        
    
  </body>
  
  

</html>