<!DOCTYPE html>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Epilogue by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<a href="#"><img src="http://cdn1.theodysseyonline.com/files/2016/01/10/635880254892802937-147520905_powerofprotest.jpg" alt="" /></a>
			<header id="header" class="alt">
				<div class="inner">
					<h1>Valencia Fights Back!</h1>
					<p>Join the fight for a better tomorow, today!</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>What is Valencia?</h2>
						<p> Valencia is an online group seeking for a better world! <br>
						Valencia is a website that activists love, and we need you to make it even better. <br>
						We strive for a better future, and together we can empower each other. <br>
						Find people who want to fight against the same issues that you're also passionate about! <br>
						If you are a feminist seeking for a better future, or a animal lover who wants to minimize <br> 
						the effects of green house gas emmisons, you have come to the right place!<br>
						We hope that you join, and that you fight alongside with Valencia!</p>
						<ul class="actions">
							<li><a href="/quiz" class="button big">take the quiz</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#"><img src="https://klkranes.files.wordpress.com/2018/01/feminist.jpg?w=1200" alt="" /></a>
								<h3>Sexism, What's new?</h3>
							</header>
							<p>Click here to close the gap to the better future for women!</p>
							<ul class="actions">
								<li><a href="/sexism" class="button"> Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="https://www.thecenterps.org/media/k2/items/cache/8dd1b15b07ee959fff716f219ff43fb5_XL.jpg" alt="" /></a>
								<h3>Stop Bullying!</h3>
							</header>
							<p>Bullying sucks, no matter if you're a kid in shool, or an adult. <br>
							Valencia is spreading awareness to this issue, and hopes to help y'all!</p>
							<ul class="actions">
								<li><a href="/bullying" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="https://www.theblaze.com/wp-content/uploads/2017/07/climate-protesters.jpg" alt="" /></a>
								<h3>Save the Planet!</h3>
							</header>
							<p>The world is under treath of global warming, pollution and more! <br>
							   Join Valencia in creating a better tommorow!</p>
							<ul class="actions">
								<li><a href="/environmental" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="http://blog.victimsofcommunism.org/wp-content/uploads/2017/02/27623264486_115c435657_b-1024x844.jpg" alt="" /></a>
								<h3>Racism</h3>
							</header>
							<p> Do you want equal rights, no matter the Race? Well Valencia does!<br>
							    Join them in there fight for equality!</p>
								<li><a href="/racism" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="https://az616578.vo.msecnd.net/files/2016/09/10/636090830366866011-1729234209_AP-Peru-Gay-Pride-Parade.jpg" alt="" /></a>
								<h3>LGBTQ+ Pride!</h3>
							</header>
							<p> Don't ever be afraid to show your true colors!<br>
							Join Vilencia to support the LGBTQ+ community!</p>
								<li><a href="/lgbtq" class="button">Learn More</a></li>
							</ul>
						</article>
					</section>
					

				
			</div>

		<!-- Scripts -->
			<script src="css/assets/js/jquery.min.js"></script>
			<script src="css/assets/js/skel.min.js"></script>
			<script src="css/assets/js/util.js"></script>
			<script src="css/assets/js/main.js"></script>

	</body>
</html>