
<!DOCTYPE>
<html>
 <head>
  <title>Information About LGBTQ</title>
  <link rel="stylesheet" href = "css/lgbtq.css">
 </head>
 
<div id="title" class="slide header">
 <h1>LGBTQ+</h1>
</div>

<div id="slide1" class="slide">
 <div class="title">
  <h1>Information about LGBTQ</h1>
  <p>“And love is love is love is love is love is love is love is love cannot be killed or swept aside." 
 -Lin-Manuel Miranda <br> This is a qoute we should all live by. You shouldn't be judged based on who you love, something that is out of your control. Falling in love is a part of life and everyone should be able to express their love for someone without worrying about what others will think.</p>
 </div>
</div>

<div id="slide2" class="slide">
 <div class="title">
  <h1>How to fight!!</h1>
  <p>Lin-Manual Miranda's quote perfectley captures the feeling of being in love, and no one should manke anyone feel bad for it. Love is an amazing thing, and finding yourself in the world is an amazing feeling. The LGBTQ+ community is more likely to face bullying while they attend school, and it isn't fair. The LGBTQ+ community is denied many rights that other people have, and in many countries gay marrage isnt even legal yet. There are many unjust acts against the LGBTQ+ community, and we need to fight for love! As Dumbledore said, "Do not pity the dead, Harry, Pity the living and above all those who live without love". Join Vilencia in standing up for the LGBTQ+ community and fight for love and self identification. </p>
 </div>
 <img src="https://s.abcnews.com/images/US/GTY-gay-pride-chicago-10-jt-170625_4x3_992.jpg">
 <img src="https://lgbtqnation-assets.s3.amazonaws.com/assets/2016/11/Taiwan-Same-Sex-Marri_Dola-500x375.jpg"> 
</div>

<div id="slide3" class="slide">
 <div class="title">
<h1>Upcoming Protests</h1>
 <p>Event: 30th Annual Lavender Law@ Conference & Career Fair <br>
   Event location: New York City, Marriott Marquis<br>
   Date: August 8-10, 2018<br>
  <a href= "https://lgbtbar.org/annual"> More info </a>
  <br>
 
    <br> Event: Space Coast pride parade & festival
  <br> Event location: Melbourne, FL<br>
     Date: September 29, 2018 <br>
  <a href= "https://www.spacecoastpride.org/"> More info </a>
  
  <br>
  <br>Event: Dallas Pride<br>
   Event Location: Dallas, TX<br>
  Date: Sep. 15-16, 2018<br>
  <a href= "https://dallaspride.org/"> More info </a>
  
  <br>
  <br>Event: Chicago: Market Days <br>
   Event Location: Chicago, IL<br>
  Date: August 11-12, 2018<br>
  <a href= "https://northalsted.com/"> More info </a>
   <br>
 </div>
</div>

<div id="slide4" class="slide">
 <div class="title">
  <h1>Check out these website for more information on how to help!!!</h1>
  <a href="https://lgbt.foundation/"> LGBT Foundation</a> <br>
  <a href="https://www.glaad.org/"> GLAAD </a> <br>
  <a href="https://ilga.org/"> International Lesbian, Gay, Bisexual, Trans AND Intersex Association </a> <br>
 <a href="https://truecolorsfund.org/">True Colors Fund </a> <br>
  <a href="https://www.astraeafoundation.org/"> Astrea Lesbian Foundation For Justice</a> <br>
 <a href="https://www.thetrevorproject.org/#sm.001wwpq0i1cmkfrzzxe1sers1wf87"> The Trevor Project</a> <br>
 
  <h1>Check out these videos!</h1>
  <a href="https://www.youtube.com/watch?v=YCjDnX-Xzhg">The new frontier of LGBTQ civil rights, explained </a> <br>
   <a href="https://www.youtube.com/watch?v=ivfJJh9y1UI">This Is What LGBT Life Is Like Around the World</a> <br>
  <a href="https://www.youtube.com/watch?v=NosaC8ELr00">No Beauty in War</a> <br>

 <h1> Check out these Books!</h1>
<p> Aristotle and Dante discover the secrets of the universe <br>
  By:Benjamin Alire Sáenz<br>
  <a href="https://www.goodreads.com/book/show/12000020-aristotle-and-dante-discover-the-secrets-of-the-universe">Summary</a> <br> <br>
  Autoboyography <br>
  By:Christina Laurens <br>
  <a href="https://www.goodreads.com/book/show/28919058-autoboyography?ac=1&from_search=true">Summary</a> <br> <br>
  Simon vs. the Homo Sapiens Agenda<br>
  By: Becky Albertali<br>
  <a href="https://www.goodreads.com/book/show/19547856-simon-vs-the-homo-sapiens-agenda?ac=1&from_search=true">Summary</a> <br>
 </div>
</div>
</html>