
<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <link rel="stylesheet" href="css/quiz+results.css">
    </head>
    <body>
        <form method=POST>
            <h1>What Issue Should You Fight For?</h1>
            <h3>Have you ever experianced sexism? <br>1: not at all, 10: all the time</h3> 
              <input type="text" name="sexism"> <br>
            <h3>Do you support the LGBTQ community?<br> 1: not at all, 10: of course</h3>
              <input type="text" name="lgbtq"> <br>
            <h3>Have you ever been bullied? <br>1: not at all, 10: all the time</h3> 
              <input type="text" name="bully"> <br>
            <h3>How much do you like going outside? <br> 1: not at all, 10: all the time</h3>
              <input type="text" name="environment"> <br>
            <h3>Do you beleive in equal rights for everyone no matter their skin color? <br>1: not at all, 10: all the time</h3>
            
              <input type="text" name="racism">
              <input type="submit" value="Get Your Results!">
        </form>
    </body>
    
    
</html>
