
<!DOCTYPE html>
<html>
  <head>
    <title>Racism</title>
    <link rel="stylesheet" href="css/racism.css">
  </head>

<div id="title" class="slide header">
  <h1>Racism</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>We are all Equal</h1>
    <p>At this rate, becoming a truly equal and equitable society is out of the question. Social injustice has been an ongoing issue since the beginning of the human race, and it’s shown through many forms, such as racism. No one should ever feel uncomfortable in there own skin, or feel like they are less than what they are; a human being.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>How to fight against Racism..</h1>
    <p>Racism has been going on for a very long time, and even though we can't erase it from our history, we can certainly protest against the unfair acts in mordern society. There are many ways to fight against racism, but we can only do this toghether. To truly have a world full of happiness and joy, we have to treat everyone equally. Respceting people no matter what there skin color or cultural background is a huge part in world peace. Every culture is different and unique, and stereotypes can often misrepresent cultures in a negative way. Stereotypical behavior has to stop, and it's never ok to judge someone by looking at them!Join Vilencia to stop racism, and join the fight!</p>
  </div>
  <img src="https://www.telesurtv.net/__export/1447291790759/sites/telesur/img/news/2015/11/11/powercampus_crop1447291658060.jpg_1718483346.jpg">
  <img src="https://www.dw.com/image/42533461_303.jpg"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
<h1>Upcoming Protests</h1>
    <p>Event: Anti-Racism protest<br>
     Event location: New York, New York<br>
     Date: Aug. 18<br>
    <a href= "http://www.rallylist.com/anti-racism-protest-8-18-17-to-8-20-17/"> More info </a>
   <br>
   
       <br>  Event:Stand against hate- a rally for the victims of Charlottesville
    <br> Event location:Asbury Park, New Jersey:<br>
         Date: Ausgust 20, 2018<br>
    <a href= ""> More info </a>
   
   <br>
    <br>Event: Save the Supreme Court Milwaukee Rally<br>
     Event Location: Milwaukee, Wisconsin <br>
    Date: 7-31-18<br>
    <a href= "http://www.rallylist.com/save-the-supreme-court-milwaukee-rally-7-31-18/"> More info </a>
   
   <br>
    <br>Event: Families Belong Together March<br>
     Event Location: Houston, Texas<br>
    Date:7-28-18 <br>
    <a href= "http://www.rallylist.com/families-belong-together-march-7-28-18/"> More info </a>
    
   
  </div>
</div>

<div id="slide4" class="slide">
  <div class="title">
    <h1>Check out these website for more information on how to help!!!</h1>
   <a href="https://calltosafety.org/who-we-are/anti-racist-organization/"> Call to Safety </a> <br>
   <a href="http://radafilm.com/"> Rada Film Group!</a> <br>
   <a href="https://www.abfe.org"> Association of Black Foundation Executives (ABFE)</a> <br>
  <a href="https://us.iofc.org/"> Initiatives of Change</a> <br>
   <a href="https://www.apiahf.org/"> Asian & Pacific Islander American Health Forum</a> <br>

  
    <h1>Check out these videos!</h1>
   <a href="https://www.youtube.com/watch?v=q0qD2K2RWkc"> Prince Ea </a> <br>
     <a href="https://www.youtube.com/watch?v=AOMpxsiUg2Q"> The Privellage Game </a> <br>
   <a href="https://www.youtube.com/watch?v=zRwt25M5nGw"> Don't Put People in Boxes</a> <br>
   
  </div>
</div>

