<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h3>Your Results Are...</h3>
        <%=@message%>
        
        <h3>Click on the Links above to learn more!</h3>
        
        
    </body>
</html>