<!DOCTYPE html>
<html>
  <head>
    <title>Sexism</title>
    <link rel="stylesheet" href="css/sexism.css">
</head>

<body>
<div id="title" class="slide header">
  <h1>Sexism</h1>
</div>
<div id="slide1" class="slide">
  <div class="title">
    <h1>Sexism in Society</h1>
   <h4>From a very young age, girls are exposed to media and ideas that make them think that they have to look and act a certain way. Not only that, but they are also told that there are limited career options for them. Young girls are also faced with double standards: they are told to speak up for what they beleive in, but not TOO loudly. These girls then grow up surrounded by media, conversations, and more, telling them that they have to be a certain way. These ideas then stick with them through adulthood and effect many of their decisions and life choices.</h4>
    <br>
    
    <h3>Examples of Sexism in Society</h3>
    <ul>
      <li>
        Religious Sexism and Discrimination: Although people are told to beleive in whatever god they want, women are continously left out of religious events and ceremonies simply because of their gender.
      </li>
      <li>
        Double Standards: Women and girls are told to be polite, quiet, and live up to certain expectations. Men and boys, however, have very different standards. Due to these expectations, girls start to realize from a very young age that they are treated differently than boys.
      </li>
      <li>
        Media: Throughout many forms of media, women and girls are objectified while men and boys display traits of masculinity. This then leads women and girls to feel like they are not enough, and it leads society to beleive that men and boys are superior to women and girls.
      </li>
      <li>Education: Many girls all over the world are not given access to education simply because of their gender.</li>
    </ul>
    </p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>How it affects Women everyday!</h1>
    <h4>By being told from a young age about female "ideals", women grow up to feel hesitant around their male counterparts because of their ideals to be quiet and also because of the oppresion they face due to either being the minority in their workplace, or due to sexist comments. Women with full-time jobs still earn 77% of their male counterparts' earnings. This oppression then creates sexism in the workplace and in society.</h4>
        
  </div>
  <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/8/10/campaign_images/buzzfeed-prod-fastlane-02/badass-feminist-posters-2-5180-1486567434-5_dblbig.jpg">
  <img src="https://cdn.opendemocracy.net/files/imagecache/wysiwyg_imageupload_lightbox_preset/wysiwyg_imageupload/563303/32301389402_926254e6e2_k.jpg"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
<h1>Check out these Videos!</h1>
    <h3>Videos</h3>
    <a href="https://youtu.be/pITvjVaUvWA">Join the Movement to #StandUpToSexism</a><br>
    <a href="https://www.youtube.com/watch?v=yIxA3o84syY">Always #LikeAGirl</a><br>
    <a href="https://youtu.be/81x6mYNxqzU">Girl Rising: Official Trailer</a><br>
    <a href="https://www.youtube.com/watch?v=vE5gSHJkusU">He Named Me Malala: Official Trailer</a>
   
  </div>
</div>

<div id="slide4" class="slide">
  <div class="title">
   <h1> Recources to Help </h1>
    <h4><a href="https://shop.metowe.com/girllove">Me to We: Girl Love</a>: Giving girls the oppurtunity to go to school</h4>
      <h4><a href="https://www.makers.com/blog/21-facts-you-never-knew-about-international-gender-inequality">Makers: 21 Facts About Gender Inequality You Need to Know Now</a>: What everyone needs to know about gender inequality</h4>
      <h4><a href="https://www.bustle.com/p/10-organizations-that-empower-women-you-need-to-know-about-57661">Bustle: 10 Organizations That Empower Women You Need to Know About</a>: Ways to help women all around the world</h4>
      <h4><a href="https://mygirltalk.org/">Girl Talk: Leadership Defined</a>: Helping all girls develop the confidence to lead</h4>
      <h4><a href="https://girlsinc.org/">Girls Inc.</a>: Teaching girls to value themselves, take risks, and develop and discover their strengths</h4>
      <h4><a href="https://girlrising.org/">Girl Rising</a>: Working to get girls into school</h4>
      <h4><a href="https://www.kodewithklossy.com/">Kode With Klossy</a>: Teaching girls how to code</h4>
  </div>
</div>
</body>
</html>